<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ma Page d'acceuil</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
</head>
  <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="my-container">
      <h1><%=@instrument.brand.capitalize%> <%= @instrument.model %></h1>
      <p></p>

    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="my-container2">
    <div class="my-cards">

      <div class="my-card3">
        <%= image_tag @instrument.photo %>
        <h4><%= @instrument.brand.upcase %> <%= @instrument.model.capitalize %></h4>
        <p> <%= @instrument.color %> </p>
        <p><%= @instrument.description %></p>
        <br>
        <h4><%= @instrument.price_per_day %>€/jour</h4>
      </div>
      <div class="my-card3">
        <%= simple_form_for [@instrument, @rental] do |f| %>
          <%= f.input :message_to_owner, label: 'Message pour le propriétaire', placeholder: 'Entrez votre texte', as: :text %>
          <%= f.input :start_date, html5: true, label: 'Date de début', as: :date %>
          <%= f.input :end_date, html5: true, label: 'Date de fin', as: :date %>
          <div class="form-group" style="width: 100%" margin-top="40px" ><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="30" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=magasin%20de%20musique(<%=@instrument.location%>)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div>
          <%= f.button :submit,  'Louer', class: 'mybtn-primary'  %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p> Un site internet réalisé par des etudiant du @wagon Fait par nous pour nous </p>
    </div>
  </div>

</body>
</html>
