<h1>Instruments#show</h1>
<h2>Category: <%= @instrument.category %></h2>
<p><%= @instrument.photo %></p>
<p>Brand: <%= @instrument.brand %></p>
<p>Model: <%= @instrument.model %></p>
<p>Color: <%= @instrument.color %></p>
<p>Daily rate :<%= @instrument.price_per_day %>€</p>
