<div>Hello world</div>
<%= @my_rentals[0].total_price  %>
<%= @my_rentals[0].user_id  %>
<%= image_tag(@my_rentals[0].instrument.photo)%>
<%= @my_rentals[0].instrument.photo  %>
<%= @my_rentals[0].message_to_owner  %>

<%= @my_rentals[1].total_price  %>
<%= @my_rentals[1].user_id  %>
<%= @my_rentals[1].instrument  %>
<%= @my_rentals[1].message_to_owner  %>
